.box {
    display: flex;
    flex-flow: row wrap;
}

mat-card {
    background-color: rgb(145, 145, 145);
    width: 30%;
    margin: 1%;
    height: 20%;
}

.buttonClose {
    position: absolute;
    right: 27%;
    top: 8%;
    background-color: grey;
}

.nominations {
    float: left;
}

button {
    margin: 10px;
    background-color: rgb(153, 153, 153);
    color: white;
}