<h1>{{movie.title}}</h1>  
<h2><strong>Category : </strong>{{movie.category}}</h2> 
<h2><strong>Production date : </strong>{{movie.productionDate | date:"mediumDate"}}</h2> 
<h2><strong>Duration : </strong>{{movie.duration}} minutes</h2> 
<h2><strong>DVD price : </strong>{{movie.dvdPrice}} $</h2> 
<h2><strong>Streaming fee : </strong>{{movie.streamingFee}} $</h2> 
<br/>
<h3>Participants</h3> 
<mat-card *ngFor="let res of participants">
    <h4>{{res.name}}</h4>
    <h4>{{res.dateOfbirth}}</h4>
    <h4>{{res.nationality}}</h4>
    <h4>{{res.sex}}</h4>
    <h4>{{res.role}}</h4>
    <h4>{{res.salary}}</h4>
</mat-card>
