#body {
    background-color: #141414;
    padding-top: 75px;
    background-position: center;
    display: grid;
    grid-template-columns: auto auto;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    justify-items: center;
}

.movie-card {
    max-width: 400px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

img {
    width: 95%;
    height: 400px;
}

.field {
    padding-top: 0.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfd5d5;
}

.searchIcon {
    cursor: grabbing;
}

.movie-cover {
    cursor: grabbing;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

mat-form-field {
    width: 300px;
}