<div class="container">
  <mat-dialog-content>
    <ul id="main-list">
      <li>
        <h1 mat-dialog-title id="title">Order</h1>
      </li>
      <li class="main-element">
        <div id="authentication">
          <form>
            <ul class="order-elements">
              <li><img class="input-icons" src="../../../assets/icons/order/credit-card.png" alt="credit card icon">
              </li>
              <li>
                <select id="creditCard" (change)="ccChange($event)">
                  <option *ngFor="let cc of data.cc">{{filter(cc.cardNumber)}}</option>
                </select>
              </li>
            </ul>
            <ul class="order-elements">
              <li><img class="input-icons" src="../../../assets/icons/order/name.png" alt="first name icon"></li>
              <li><input class="input-field" type="text" name="firstName" placeholder="First Name"
                  alt="First name input" [(ngModel)]="firstName"></li>
            </ul>
            <ul class="order-elements">
              <li><img class="input-icons" src="../../../assets/icons/order/name.png" alt="last name icon"></li>
              <li><input class="input-field" type="text" name="lastName" placeholder="Last Name" alt="Last name input"
                  [(ngModel)]="lastName"></li>
            </ul>
            <ul class="order-elements">
              <li><img class="input-icons" src="../../../assets/icons/order/key.png" alt="key icon"></li>
              <li>
                <textarea matInput placeholder="Enter the card's CCV" type="text" name="ccv" placeholder="CCV"
                  alt="ccv input" [(ngModel)]='ccv'></textarea>
              </li>
            </ul>
            <ul class="order-elements">
              <li><label>Price: {{data.price}}$</label></li>
            </ul>
              <ul class="order-elements">
                <li><label>Shipping Fee: {{data.shipping}}$</label></li>
              </ul>
          </form>
        </div>
      </li>
      <li class="main-element">
        <button mat-button (click)="submit()">Submit</button>
        <button mat-button (click)="close()">Close</button>
      </li>
    </ul>
  </mat-dialog-content>
</div>