<app-toolbar id="toolbar"></app-toolbar>
<app-loading *ngIf="isLoading" class="centered"></app-loading>
<div class="field">
    <mat-form-field>
        <input
            matInput
            placeholder="Search for a movie"
            aria-label="title"
            [matAutocomplete]="auto"
            [formControl]="titleControl"
            (input)="searchMovie()"
        >
        <mat-icon
            class="searchIcon"
            matSuffix
            (click)="searchMovie()"
        >search</mat-icon>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchMovie()">
            <mat-option
                *ngFor="let title of filteredMovies | async"
                [value]="title"
            >
                <span>{{title}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
<div id="body">
    <mat-card
        class="movie-card"
        *ngFor="let movie of searchedMovies"
    >
        <mat-card-header>
            <div
                mat-card-avatar
                class="movie-header-image"
            ></div>
            <mat-card-title>{{movie.title}}</mat-card-title>
        </mat-card-header>
        <img
            class="movie-cover"
            mat-card-image
            src={{movie.image}}
            alt="{{movie.title}}"
            (click)="displayInfos(movie)"
        >
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-button
                #play
                title={{movie.title}}
                (click)="onClickStream(play)"
            >Play</button>
            <button
                mat-button
                #buy
                title={{movie.title}}
                (click)="onClickBuy(buy)"
            >Buy DVD</button>
        </mat-card-actions>
    </mat-card>
</div>