#close {
    cursor: pointer;
    float: right;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
  }
  
  .container {
    width: 400px;
    padding: 15px;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  .btn.btn-lg {
    height: 46px;
  }
  
  .ui-widget-content a {
    color: #001cc3 !important;
  }
  
  .login-bar {
    align-items: center;
  }
  
  
  .signIn-elements {
    padding-bottom: 20px;
  }
  
  .login-google {
    background: #dd4b39;
  }
  
  .login-facebook {
    background: #3F51B5;
  }
  
  .login-instagram {
    background: #C13584;
  }
  
  .btn {
    margin-bottom: .75rem;
    font-size: 13px;
  }
  
  .d-flex {
    display: flex !important;
  }
  
  .btn-block {
    width: 100%;
  }
  
  .social {
    height: 56.6px;
    width: auto;
  }
  
  .btn-lg {
    padding: 0.7rem 2.3rem;
    line-height: 1.5;
    border-radius: 1.5rem;
  }
  
  .btn {
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  }
  
  .btn-submit {
    background-color: #0077be;
  }
  
  form:first-child {
    margin-top: 30px;
  }
  
  ul {
    list-style: none;
    text-align: center;
  }
  
  .signIn-elements li {
    display: inline;
  }
  
  a {
    text-decoration: none;
  }
  
  .input-icons {
    height: 50px;
    margin-right: 15px;
    width: auto;
  }
  
  .icon {
    height: 50px;
  }
  
  #title {
    font-size: 20pt;
    text-align: center;
  }
  
  #signUp {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }
  
  * {
    box-sizing: border-box;
    padding-left: 0;
  }
  
  
  @media(max-width:440px) {
    .container {
      width: auto
    }
  }
  