<div class="container">
    <input id="close" type="image" (click)="onClose()" src="../../../assets/icons/signIn/close.png" />
    <h1 mat-dialog-title id="title">Sign Up</h1>
    <mat-dialog-content>
      <ul id="main-list">
        <li class="main-element">
          <div id="authentication">
            <form>
                <ul class="signIn-elements">
                    <li><img class="input-icons" src="../../../assets/icons/signUp/name.png" alt="First Name Icon"></li>
                    <li><input class="input-field" type="text" [(ngModel)]="firstName" name="input" placeholder="First Name" alt="First Name"></li>
                </ul>
                <ul class="signIn-elements">
                    <li><img class="input-icons" src="../../../assets/icons/signUp/name.png" alt="Last Name Icon"></li>
                    <li><input class="input-field" type="text" [(ngModel)]="lastName" name="input" placeholder="Last Name" alt="Last Name"></li>
                </ul>
                <ul class="signIn-elements">
                    <li><img class="input-icons" src="../../../assets/icons/signUp/postalCode.png" alt="Postal Code Icon"></li>
                    <li><input class="input-field" type="text" [(ngModel)]="postalCode" name="input" placeholder="Postal Code" alt="Postal Code"></li>
                </ul>
              <ul class="signIn-elements">
                <li><img class="input-icons" src="../../../assets/icons/signIn/mail.png" alt="E-mail Icon"></li>
                <li><input class="input-field" type="text" [(ngModel)]="mail" name="input" placeholder="E-mail" alt="E-mail"></li>
              </ul>
              <ul class="signIn-elements">
                <li><img class="input-icons" src="../../../assets/icons/signIn/password.png" alt="Password Icon"></li>
                <li><input class="input-field" type="text" [(ngModel)]="password" name="input"  placeholder="Password" alt="Password"></li>
              </ul>
  
            </form>
          </div>
        </li>
  
        <li class="main-element">
          <button class= "btn btn-block btn-lg btn-submit" (click)="onSubmit()" mat-dialog-close>Sign Up</button>
        </li>
  
        <li>
          <label>
            Existing User ?
            <button id="signUp" (click)="onClose()">Sign In</button>
          </label>
        </li>
        <!-- <li>
            <label id="error">{{error}}</label>
        </li> -->
  
      </ul>
    </mat-dialog-content>
  </div>
  