<form class="search-form">
    <mat-form-field class="example-full-width">
        <input matInput
               placeholder="Title"
               aria-label="title"
               [matAutocomplete]="auto"
               [formControl]="titleControl">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let title of filteredMovies | async" [value]="title">
            <span>{{title}}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
  </form>