<div id="background">
    <div class="container">
        <mat-dialog-content>
            <ul id="main-list">
                <li>
                    <h1
                        mat-dialog-title
                        id="title"
                    >Search for a movie</h1>
                </li>
                <li class="main-element">
                    <div id="authentication">
                        <mat-form-field class="field">
                            <input
                                matInput
                                placeholder="Title"
                                aria-label="title"
                                [matAutocomplete]="auto"
                                [formControl]="titleControl"
                            >
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option
                                    *ngFor="let title of filteredMovies | async"
                                    [value]="title"
                                >
                                    <span>{{title}}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </li>

                <li class="main-element">
                    <button class="btn btn-block btn-lg btn-submit" (click)="getMovie()">Search</button>
                </li>
            </ul>
        </mat-dialog-content>
    </div>

    <div *ngIf="movieFound" id="movie-card">
        <mat-card>
            <mat-card-header>
                <div
                    mat-card-avatar
                    class="movie-header-image"
                ></div>
                <mat-card-title>{{movie.title}}</mat-card-title>
            </mat-card-header>
            <!-- <img mat-card-image src={{movie.image}} alt="Photo of {{movie.title}}"> -->
            <mat-card-content>
                <p>
                    Category : <strong>{{movie.category}}</strong> <br/>
                    Production date : <strong>A remplir</strong> <br/>
                    Duration : <strong>A remplir</strong> <br/>
                    DVD price : <strong>A remplir</strong> <br/>
                    Streaming fee : <strong>A remplir</strong> <br/>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Play</button>
                <button mat-button>Buy DVD</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>