/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";


.btn-primary{
    margin-top: 10px;
}

html, body {
    margin: 0;
    height: 100%;
}