<div class="container">
  <mat-dialog-content>
    <ul id="main-list">
      <li>
        <h1 mat-dialog-title id="title">Sign In</h1>
      </li>
      <li class="main-element">
        <div id="authentication">
          <form>
            <ul class="signIn-elements">
              <li><img class="input-icons" src="../../../assets/icons/signIn/mail.png" alt="email icon"></li>
              <li><input class="input-field" [(ngModel)]="username" type="text" name="username" placeholder="email"
                  alt="email"></li>
            </ul>
            <ul class="signIn-elements">
              <li><img class="input-icons" src="../../../assets/icons/signIn/password.png" alt="password icon"></li>
              <li><input class="input-field" [(ngModel)]="password" type="password" name="password" placeholder="password"
                  alt="password"></li>
            </ul>
            <ul class="signIn-elements">
              <li><img class="input-icons" src="../../../assets/icons/signIn/admin.png" alt="password icon"></li>
              <li style="margin-left: 140px;">
                <input type="checkbox" id="admin" name="admin" value="Admin" [(ngModel)]="admin">
                <label for="admin">Admin</label><br>
              </li>
            </ul>
          </form>
        </div>
      </li>

      <li class="main-element">
        <button class="btn btn-block btn-lg btn-submit" (click)="onSubmit()">Sign In</button>
      </li>
      <!-- <li class="main-element">
        <button class="btn btn-block btn-lg btn-submit" (click)="creatAndPopulateDB()">Create schema and populate DB</button>
      </li> -->
    </ul>
  </mat-dialog-content>
</div>