<div id="container">
    <div id="nav-bar">
        <mat-nav-list>
            <div class="profile-card">
                <div class="header">
                    <h2>ADMINISTRATOR</h2>
                    <h4>NETFLIXPOLY</h4>
                </div>
                <img src="../../../assets/icons/admin.png" alt="ADMINISTRATOR">
            </div>
            <mat-divider></mat-divider>
            <h2 matSubheader>Tasks</h2>
            <a mat-list-item (click)="addingMovie = !addingMovie; addingUser = false;">
                <mat-icon>movie</mat-icon>
                Add Movie
            </a>
            <a mat-list-item (click)="addingMovie = false; addingUser = !addingUser ;">
                <mat-icon>person</mat-icon>
                Add User
            </a>
        </mat-nav-list>
    </div>
    <div id="body">
        <div class="body-element" *ngIf="!addingUser && !addingMovie">
            <table mat-table [dataSource]="movies" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="genre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Genre </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>

                <ng-container matColumnDef="production date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Release Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.productionDate}} </td>
                </ng-container>

                <ng-container matColumnDef="duration">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration (s) </th>
                    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
                </ng-container>

                <ng-container matColumnDef="dvd price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DVD Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.dvdPrice}} </td>
                </ng-container>

                <ng-container matColumnDef="streaming fee">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Streaming Fee </th>
                    <td mat-cell *matCellDef="let element"> {{element.streamingFee}} </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="warn" (click)="deleteMovie(element.id)">
                            <mat-icon class="mat-18">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div class="body-element" *ngIf="addingUser">
            <app-add-user></app-add-user>
        </div>
        <div class="body-element" *ngIf="addingMovie">
            <app-add-movie></app-add-movie>
        </div>
    </div>
</div>